{% if uuids128|length > 1 %}from uuid import UUID{% endif %}
from .utils import UUIDDict
{{ uuid_dict }} = UUIDDict({ {% for uuid, name in uuids16.items() %}
    0x{{ uuid }}: "{{ name }}",
{%- endfor %}
{% if uuids128|length > 1 %} {% for uuid, name in uuids128.items() %}
    UUID("{{ uuid }}"): "{{ name }}",
{%- endfor %}
{% endif %}
})
