---
name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.3.1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: pip3 install -r requirements-dev.txt
      - name: Generate code
        run: make generate
      - name: Check code
        run: make check
      - name: Test code
        run: make test
      - name: Make package
        run: make package
